<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522720554843-btvfc3thss4em4h0slvafrd2rgg6f3lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522720554843-btvfc3thss4em4h0slvafrd2rgg6f3lk</string>
	<key>API_KEY</key>
	<string>AIzaSyBrIClrIl1QKvQhgUhxlpEeiKmYsxCaFxI</string>
	<key>GCM_SENDER_ID</key>
	<string>522720554843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.algorithmEmpl</string>
	<key>PROJECT_ID</key>
	<string>havershine</string>
	<key>STORAGE_BUCKET</key>
	<string>havershine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522720554843:ios:4480ee4a27947697b4347e</string>
</dict>
</plist>